<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @session.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @session.client_id %>
</p>

<p>
  <strong>Routine:</strong>
  <%= @session.routine_id %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
