<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @routine.client_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @routine.description %>
</p>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
