<style type="text/css">
  input {
    margin-bottom: 100px;
  }
</style>

<h1>Listing clients</h1>

<%= form_tag clients_url, method: 'get' do %>
  <%= text_field_tag :search, nil, placeholder: "Search for your clients..." %>
  <%= submit_tag :search %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Gym</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Machine code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.gym_id %></td>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.email %></td>
        <td><%= client.machine_code %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Client', new_client_path %>

<script type="text/javascript">
$(function() {
    var availableTags =  <%= @clients.collect{ |c| c.name }.to_json.html_safe %>;
    $( "#search" ).autocomplete({
      source: availableTags
    });
  });
</script>
